<div class="footer">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 text-white">
                <h2 class="text-center ">LOCATION</h2>
                <p class="text-center ">2215 John Daniel Drive</p>
                <p class="text-center ">Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-white">
                <h2 class="text-center ">AROUND THE WEB</h2>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fas fa-globe"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-white">
                <h2 class="text-center ">ABOUT FREELANCER</h2>
                <p class="text-white text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>

<div class="footer-2 text-center align-content-end">
    <p class="text-white p-4 ">Copyright © Your Website 2021</p>
</div>