<div class="home justify-content-center align-content-center">
    <img class="smaller" src="./assets/avataaars.svg" alt="">
    <h1 class="text-center text-white ">START FRAMEWORK
    </h1>
    <div _ngcontent-xrx-c6="" class="d-flex align-items-center justify-content-center mb-3">
        <div _ngcontent-xrx-c6="" class="line me-3" style="background-color: white"></div>
        <i _ngcontent-xrx-c6="" class="fa-solid fa-star" style="color: white"></i>
        <div _ngcontent-xrx-c6="" class="line ms-3" style="background-color: white"></div>
    </div>
    <p class="text-white ">Graphic Artist - Web Designer - Illustrator</p>
</div>